.main {
    width: 980px;
    height: 455px;
    margin: 10px 0 0 220px;
}
.focus {
    float: left;
    width: 721px;
    height: 455px;
}
.newsflash {
    float: right;
    width: 250px;
    height: 455px;
}
.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}
.news-hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}
.news-hd h5 {
    float: left;
    font-size: 14px;
}
.news-hd .more {
    float: right;
}
.news-bd {
    padding: 5px 15px 0;
}
.news-bd li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.life-service {
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    border-bottom: 0;
}
.life-service ul {
    width: 252px;
}
.life-service li {
    float: left;
    width: 62.25px;
    height: 70px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}
.life-service li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    background-color: #e4e4e4;
    margin-top: 12px;
}
.life-service .huafei i {
    background: url(../images/icons.png) no-repeat -16px -16px;
}
.life-service .jipiao i {
    background: url(../images/icons.png) no-repeat -79px -16px;
}
.life-service .jipiao {
    position: relative;
}
.life-service li .jian {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 15px;
    background: url(../images/jian.jpg) no-repeat;
}
.life-service .dianyingpiao i {
    background: url(../images/icons.png) no-repeat -141px -16px;
}
.life-service .youxi i {
    background: url(../images/icons.png) no-repeat -205px -16px;
}
.life-service .caipiao i {
    background: url(../images/icons.png) no-repeat -17px -86px;
}
.life-service .jiayouka i {
    background: url(../images/icons.png) no-repeat -79px -86px;
}
.life-service .jiudian i {
    background: url(../images/icons.png) no-repeat -141px -86px;
}
.life-service .huochepiao i {
    background: url(../images/icons.png) no-repeat -206px -86px;
}
.life-service .zhongchou i {
    background: url(../images/icons.png) no-repeat -17px -156px;
}
.life-service .licai i {
    background: url(../images/icons.png) no-repeat -79px -156px;
}
.life-service .lipinka i {
    background: url(../images/icons.png) no-repeat -141px -152px;
}
.life-service .baitiao i {
    background: url(../images/icons.png) no-repeat -205px -156px;
}
.bargain {
    margin-top: 5px;
}
