.main {
    width: 980px;
    height: 455px;
    margin: 10px 0 0 220px;
}
.focus {
    float: left;
    width: 721px;
    height: 455px;
}
.newsflash {
    float: right;
    width: 250px;
    height: 455px;
}
.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}
.news-hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}
.news-hd h5 {
    float: left;
    font-size: 14px;
}
.news-hd .more {
    float: right;
}
.news-bd {
    padding: 5px 15px 0;
}
.news-bd li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.life-service {
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    border-bottom: 0;
}
.life-service ul {
    width: 252px;
}
.life-service li {
    float: left;
    width: 62.25px;
    height: 70px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}
.life-service li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    background-color: #e4e4e4;
    margin-top: 12px;
}
.life-service .huafei i {
    background: url(../images/icons.png) no-repeat -16px -16px;
}
.life-service .jipiao i {
    background: url(../images/icons.png) no-repeat -79px -16px;
}
.life-service .jipiao {
    position: relative;
}
.life-service li .jian {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 15px;
    background: url(../images/jian.jpg) no-repeat;
}
.life-service .dianyingpiao i {
    background: url(../images/icons.png) no-repeat -141px -16px;
}
.life-service .youxi i {
    background: url(../images/icons.png) no-repeat -205px -16px;
}
.life-service .caipiao i {
    background: url(../images/icons.png) no-repeat -17px -86px;
}
.life-service .jiayouka i {
    background: url(../images/icons.png) no-repeat -79px -86px;
}
.life-service .jiudian i {
    background: url(../images/icons.png) no-repeat -141px -86px;
}
.life-service .huochepiao i {
    background: url(../images/icons.png) no-repeat -206px -86px;
}
.life-service .zhongchou i {
    background: url(../images/icons.png) no-repeat -17px -156px;
}
.life-service .licai i {
    background: url(../images/icons.png) no-repeat -79px -156px;
}
.life-service .lipinka i {
    background: url(../images/icons.png) no-repeat -141px -152px;
}
.life-service .baitiao i {
    background: url(../images/icons.png) no-repeat -205px -156px;
}
.bargain {
    margin-top: 5px;
}
/* recommend */
.recommend {
    height: 163px;
    margin-top: 12px;
}
.recom-hd {
    float: left;
    width: 207px;
    height: 163px;
    background-color: #5c5251;
    text-align: center;
    color: #fff;
    padding-top: 30px;
}
.recom-hd img {
    margin: 0 auto 10px;
}
.recom-bd {
    float: left;
}
.recom-bd li {
    position: relative;
    float: left;
}
.recom-bd li img {
    width: 248px;
    height: 163px;
}
.recom-bd li:nth-child(-n + 3)::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}
/* 家用电器 */
.box-hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}
.box-hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}
.tab-list {
    float: right;
    line-height: 30px;
}
.tab-list li a {
    margin: 0 15px;
}
.floor .w {
    margin-top: 30px;
}
.box-bd {
    height: 361px;
}
.tab-list-item > div {
    float: left;
}
.col-210 {
    width: 210px;
    height: 361px;
    background-color: #f9f9f9;
    text-align: center;
}
.col-210 ul {
    padding-left: 12px;
}
.col-210 li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
}
.col-329 {
    width: 329px;
}
.col-221 {
    width: 221px;
    border-right: 1px solid #ccc;
}
.col-219 {
    width: 219px;
}
.bb {
    display: block;
    border-bottom: 1px solid #ccc;
}
